<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form method="get" action="/device_types">
        <input type="submit" value="device_types">
    </form>

    <form method="get" action="/positions">
        <input type="submit" value="positions">
    </form>

    <form method="get" action="/payments">
        <input type="submit" value="payments">
    </form>

    <form method="get" action="/repair_requests">
        <input type="submit" value="repair_requests">
    </form>

    <form method="get" action="/repair_services">
        <input type="submit" value="repair_services">
    </form>

    <form method="get" action="/repair_statuses">
        <input type="submit" value="repair_statuses">
    </form>

    <form method="get" action="/reviews">
        <input type="submit" value="reviews">
    </form>

    <form method="get" action="/roles">
        <input type="submit" value="roles">
    </form>

    <form method="get" action="/users">
        <input type="submit" value="users">
    </form>


</body>
</html>